<!DOCTYPE html>
<html>
<head>
    <title>{{ company_info.company_name }} - Company Profile</title>
    <link rel="stylesheet" type="text/css" href="url_for('static', filename='style.css')">
    <link rel="stylesheet" type="text/css" href="url_for('static', filename='style.css')">
</head>
<body>
    <header>
        <h1>SparePart Motor YSS</h1>
    </header>
    <section>
        <h2>Toko SparePart Khas Sumsel</h2>
        <ul>
            <li><strong>Industry:</strong> Palembang </li>
            <li><strong>Founded Year:</strong> Since 2017</li>
        </ul>
    </section>
    <section>
        <h2>Tentang Toko Kami</h2>
        <p> fjapiej fieajwf oijwaoijf sjdkfl ksdjfkl jsdakfj iweoj ofj wijfkdsj flklkdjflkjs fij jjjlkdjfksj fwodf sdjkf kjioweijf</p>
    </section>
</body>
</html>
